<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href= "https://bootswatch.com/4/spacelab/bootstrap.css" rel="stylesheet">
		{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
		<div class="container">
        {% block body %}{% endblock %}
		</div>
    </body>
</html>
