{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }} </h1>
</div>
<form action="/updateUserBdd" method="post">
  <fieldset>
    <legend>Formulaire de Modification</legend>
    <div class="form-group row">
      <label for="staticNom" class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticNom" name="nom" placeholder={{ user.nom }}>
      </div>
	  <label for="staticNom" class="col-sm-2 col-form-label">Prénom</label>
	  <div class="col-sm-10">
        <input type="text" class="form-control" id="staticPrenom" name="prenom" placeholder={{ user.prenom }}>
      </div>
	  <label for="staticNom" class="col-sm-2 col-form-label">Code</label>
	  <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCode" name="code" placeholder={{ user.code }}>
      </div>
    </div>
	
	
	</fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
	
{% endblock %}
